<?xml version="1.0"?>
<robot name="edo" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Import Rviz colors -->
    <xacro:include filename="$(find edo_description)/urdf/materials.xacro" />
    <!--Import the edo macro -->
    <xacro:include filename="$(find edo_description)/urdf/edo.xacro"/>

    <xacro:arg name="hardware_interface" default="hardware_interface/PositionJointInterface"/>
    <xacro:arg name="robot_name" default="edo"/>
    <xacro:arg name="origin_xyz" default="0 0 0"/>
    <xacro:arg name="origin_rpy" default="0 0 0"/>

    <!-- Fix to world just for testing -->
    <link name="world"/>

    <gazebo reference="world">
        <static>true</static>
    </gazebo>

    <xacro:edo hardware_interface="$(arg hardware_interface)" robot_name="$(arg robot_name)" parent="world">
        <origin xyz="$(arg origin_xyz)" rpy="$(arg origin_rpy)" />
    </xacro:edo>

</robot>
